
#Python virtual environment
.venv/
.venv-dbt/
.venv-test/
venv/
env/

# Python cache files
__pycache__/
*.pyc

# macOS
.DS_Store

# Databricks local generated state
.databricks/
logs/
# VS Code local history
.history/

# VS Code settings
.vscode/

typings/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.tfstate.lock.info
terraform.tfvars
test.tfvars

# Terraform local files
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
.terraform.lock.hcl.backup
crash.log
crash.*.log
*.png

# Terraform variable files containing environment-specific/secrets
*.tfvars
*.tfvars.json

# Local Databricks / environment
.databrickscfg
.env
.env.*


data/state/

# dbt generated artifacts
northmart_dbt/target/
northmart_dbt/logs/
northmart_dbt/dbt_packages/

.gitkeep

